html, body { margin:0; font-family:"Helvetica"; color:#0E385F; }
body { font-size:0.625em; }

a { text-decoration:none; font-weight:bold; color:#2a4068; }
a:hover { text-decoration:underline; } 
h1 { margin: 0px; font-size:3.5em; }
h2 { font-size:2.4em; margin-bottom:0px; }
h2 + p { font-size:1.9em; margin-top:0px; line-height:1.4em; margin-bottom:30px; }
hr { height:0px; border:none; border-top:solid 1px #ccd1de; border-bottom:solid 1px white; margin:20px 0; }

.content { width:800px; margin:0 auto; }

header, footer, nav { display:block; }
header { background:#3b5998; color:white; padding-top:40px; padding-bottom:10px; }
#main { padding:50px 0 30px 0; background:url(img/bg-body.png) bottom repeat-x; }
#main .content { display:table; }
#main .content > aside { width:250px; display:table-cell; background:url(img/icon.png) no-repeat; }
#main .content > div { width:550px; display:table-cell; } 
footer { clear:both; margin-top:20px; font-size:1.1em; text-align:right; }
footer a { font-weight:normal; }
footer span { float:left; color:#777; }
footer span a { color:#777; }

.button { float:left; }
.nuget-text { font-size:1.2em; text-align:right; padding-top:3px;}
.icons a + .separator { display:inline-block; width:1px; margin:0 35px; background:#ccd1de; border-right:solid 1px white; height:35px;}
.form { position:relative; display:inline-block; }
.form > div { top:-30px; position:absolute; }
.likes > div { float:left; }
.likes > div.twitter { margin-right:20px; }
.likes + div { clear:both; }
